//SystemIP=192.168.1.123
//RemoteSystemIP=192.168.1.234
//RemoteSystemPort=8080
//StateUpdateReq=MainState,json.htm?type=command&param=switchlight&idx=214&switchcmd=
//StateUpdateReq=FaultState,json.htm?type=command&param=switchlight&idx=219&switchcmd=
//StateUpdateReq=AlertState,json.htm?type=command&param=switchlight&idx=215&switchcmd=
//StateUpdateReq=OptionRelay,json.htm?type=command&param=switchlight&idx=220&switchcmd=
//StateUpdateReq=BatteryVoltage,json.htm?type=command&param=udevice&idx=221&&nvalue=0&svalue=
//StateUpdateReq=PowerSupplyVoltage,json.htm?type=command&param=udevice&idx=idx=222&&nvalue=0&svalue=
//StateUpdateReq=Zone1Voltage,json.htm?type=command&param=udevice&idx=223&&nvalue=0&svalue=
//StateUpdateReq=Zone2Voltage,json.htm?type=command&param=udevice&idx=224&&nvalue=0&svalue=
//StateUpdateReq=Zone3Voltage,json.htm?type=command&param=udevice&idx=225&&nvalue=0&svalue=
//StateUpdateReq=Zone4Voltage,json.htm?type=command&param=udevice&idx=226&&nvalue=0&svalue=
//StateUpdateReq=Zone5Voltage,json.htm?type=command&param=udevice&idx=227&&nvalue=0&svalue=
//StateUpdateReq=Zone6Voltage,json.htm?type=command&param=udevice&idx=228&&nvalue=0&svalue=